<!-- <app-home *ngIf="enableHomePage"></app-home> -->

<!-- <ngx-spinner bdColor="rgba(0, 0, 0, 0.1)" type="null">
    <div class="spinner-border text-primary" style="width: 7rem; height: 7rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</ngx-spinner> -->

<!--
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner> -->


<!-- <app-home></app-home>
<router-outlet></router-outlet> -->

<!-- <router-outlet name="login_outlet"></router-outlet> -->


<app-home *ngIf="enableHomePage"></app-home>
<router-outlet name="login_outlet"></router-outlet>
